@page
@model WMF.Pages.AboutModel
@{
    ViewData["Title"] = "About Page";
}

<h1>@ViewData["Title"]</h1>

<p>This website has been built and worked on by the following Catalyst Lab employees at Weber State University under the direction of Dr. Richard Fry: </p>
<p>William "Chris" Hunt Oct 2020 - Present</p>
<p>Joey Sanchez Oct 2020 - May 2021</p>
<br />
<p>Also, the following students worked on this project for their CS 4450 Capstone course from May 2021 - August 2021: </p>
<p>Tara Bush</p>
<p>Harlee Turnbow</p>
<p>Minkay Choi</p>
<p>Nash Bennett</p>
<br /><br />
<p>If you have any questions about this website, please contact 
Weber State University <a>Wildcat Microfund</a>.</p>